Package: me.melkhior.badgeclear
Name: BadgeClear
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ron Melkhior
Author: Ron Melkhior
Section: Tweaks
